.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.create-challenge-form {
    width: 400px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-200px) translateX(-50%);
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

@media screen and (max-width: 400px) {
    .create-challenge-form {
        width: 100%;
    }
}

.change-name-form {
    width: 400px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-200px) translateX(-50%);
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

@media screen and (max-width: 400px) {
    .change-name-form {
        width: 100%;
    }
}


