import classes from './{{name}}.module.sass'

import React from 'react'
import { connect } from 'react-redux'
import { createStructuredSelector } from 'reselect'

const {{pascalCase name}} = () => {
	return (
		<div className={classes.container}>
			
		</div>
	)
}

const mapStateToProps = createStructuredSelector({})
const mapDispatchToProps = (dispatch) => ({})

export default connect(mapStateToProps, mapDispatchToProps)({{pascalCase name}})


